/.web-server-pid
/app/config/parameters.yml
src/**/*.php~
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/node_modules/
/web/public/build/*
!/web/public/build/.gitkeep
