{% extends 'base.html.twig' %}

{% block main %}
    <div class="conversation">
    

		{% for message in conversation.messages %}
			{% set membre = message.membre %}
			{% set float = "" %}
			{% if membre == app.user.username %}
				{% set float = "right" %}
			{% else %}
				{% set float = "left" %}
			{% endif %} 
			
			<div class="message" style="text-align:{{ float }}">
				messages
			</div>
    	{% endfor %}
	</div>
	<div action="{{ path('conversation_ajouter_message', {"idConversation"=>conversation.id }) }}" method="POST" class="ajouter_message">
		<input type="text" name="message"/>
		<input type="submit" value="submit"/>
	</div>

{% endblock %}

{% block titre %}

{% endblock %}

