<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,
            initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" >
        <link rel="stylesheet" href="{{ asset('public/build/app.css') }}">
        <title>{% block title %}Accueil!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}

        <div class="container-fluid">
            {% block main %}{% endblock %}
        </div>

        <script src="{{ asset('public/build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
