{% if canAccept is not defined %}
    {% set canAccept = false %}
{% endif %}
{% if hasLink is not defined %}
    {% set hasLink = true %}
{% endif %}

<div class="container-fluid" role="dialog">
    <div class="article-detail">
        <div class="row">
            <div class="pictures col-md-6 text-center mb-2">
                <div class="main-picture">
                    <img src="{{ asset("images/articles/"~ article.images[0].urlImage ) }}" class="img-fluid" style="width: 100%" alt="Photo de l'article" />
                </div>
            </div>

        </div>
    </div>
</div>
