{% extends 'base.html.twig' %}

{% block main %}
    <h1>Créez votre compte !</h1>
    <div>
        {{ form_start(registerForm, {attr: {'novalidate': 'novalidate'}}) }}
        {{ form_widget(registerForm) }}

        <button class="btn btn-succes">C'est parti ! </button>

        {{ form_end(registerForm) }}
    </div>

{% endblock %}

{% block title %}  {%  endblock %}