.article-detail {
    .pictures {
        .main-picture {
            background-color: #FFFCFF;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            height: 100%;
        }
    }
    .article-info {
        .card-subtitle {
            color: #555555;
        }
    }
}