{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(articleForm) }}
    {{ form_widget(articleForm) }}

    <button>C'est parti ! </button>

    {{ form_end(articleForm) }}
{% endblock %}

{% block titre %}

{% endblock %}